*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.skills{
    display: flex;
    background: url(images/skygrad.jpg) no-repeat ;
    height: 100vh;
    color: rgb(11, 11, 11);
    min-height: 200px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
    
}
.max-width{
    max-width: 1300px;
    padding: 0 90px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 23px;
    color: rgb(171, 66, 166);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}





/* skills section styling */

.skills .title::after{
    content: "what I know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: rgb(171, 66, 166);
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(189, 115, 155);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: rgb(171, 66, 166);
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 22px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(171, 66, 166);
}
.skills-content .right .html::before{
    width: 70%;
}
.skills-content .right .css::before{
    width: 50%;
}
.skills-content .right .js::before{
    width: 30%;
}

.skills-content .right .mysql::before{
    width: 60%;
}





/* teams section styling */
.skills2 .title::after{
    content: "who with me";
}


.skills2{
   
    background: url(images/skygrad.jpg) no-repeat ;
    height: 100vh;
    color: rgb(11, 11, 11);
    min-height: 200px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.skills2 .carousel .card{
    background: #d26161;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.skills2 .carousel .card:hover{
    background: rgb(173, 44, 166);
}
.skills2 .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.skills2 .carousel .card:hover .box{
    transform: scale(1.05);
}
.skills2 .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.skills2 .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(250, 178, 192);
    transition: all 0.3s ease;
}
.skills2 .carousel .card:hover img{
    border-color: rgb(250, 178, 192);
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(250, 178, 192)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: rgb(173, 44, 166)!important;
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(173, 44, 166);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
